* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
}
  .side-bar{
    background-color: #2f3e51 ;
    width: 300px;
    &__user-name{
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      &__top-items{
        height: 20px;
        width: 260px;
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        &__name{
          line-height: 20px;
          color: #ffffff;
          font-size: 16px;
          font-weight: bold;
        }
        &__icons{
          width: 60px;
          text-align: right;
          line-height: 20px;
          text-decoration: none;
        }
      } 
    }
    &__group{
      height: 100px;
      &__name{
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
        margin: 20px 20px 5px 20px;
      }
      &__message{
        font-size: 11px;
        font-weight: bold;
        color: #ffffff;
        margin: 0 20px 40px 20px;
      }
    }
  }
  
  .chat-main{
    background-color: #ffffff;
    width: calc(100vw - 300px);
    &__group-info{
      height: 99px;
      border-bottom: 1px solid #eeeeee;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      &__name{
        color: #333333;
        font-size: 20px;
        margin: 35px 0 15px 40px;
        &__member{
          color: #999999;
          font-size: 12px;
          margin-top: 15px;
        }
      }
      &__edit{
        margin-right: 40px;
        margin-top: 28px;
      }
    }

    &__message-list{
        background-color: #FAFAFA;
        box-sizing: border-box;
        padding: 46px 40px 0;
        height: calc(100vh - 100px - 90px);
        overflow: scroll;
        .message {
          overflow: scroll;
          .upper-message {
            display: flex;
            &__user-name {
              color: #434a54;
              font-size: 16px;
              font-weight: bold;
            }
            &__date {
              color: #999;
              font-size: 12px;
              padding-left: 10px;
            }
          }
          .lower-message {
            margin-top: 10px;
            &__content {
              color: #434a54;
              font-size: 14px;
              margin-bottom: 40px;
            }
          }
        }
    }
    

  }


  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
        color: black;
        cursor: pointer;
        
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }



.far {
  text-decoration: none;
  color: #ffffff;
  margin-right: 5px;
}

.fas {
  text-decoration: none;
  color: #ffffff;
}

.edit-btn {
  color: #38aef0;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #38aef0;
  padding: 0 20px 0 20px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
}







